@model IEnumerable<OrderItemViewModel>
@{
    var title = "New order";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Product name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="item_box">
            <td>
                <span class="item_name">@item.ProductName</span>
            </td>
            <td>
                <span class="item_price">@item.ProductPrice</span>
            </td>
            <td>
                <label class="item_count"><input type="text" value="0"/></label>
            </td>
            <td class="add_item" data-id="@item.ProductId">
                <button >Add</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="form-group">
    <a asp-area="" asp-controller="Orders" asp-action="GetCart">
        <input type="submit" value="Order now" class="btn btn-success"/>
    </a>
    
</div>
<div id="cart_content" hidden=""></div>