
@{
    var title = "Shopping cart";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<div id="cart_content"></div>

<div class="form-group">
    <input type="submit" value="Clear shopping cart" id="clear_cart" class="btn btn-default" />
</div>

<div class="form-group">
    <input type="submit" value="Order now" id="order" class="btn btn-success" />
</div>